@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1565917958796'); /* IE9 */
  src: url('iconfont.eot?t=1565917958796#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('data:application/x-font-woff2;charset=utf-8;base64,d09GMgABAAAAAAKIAAsAAAAABkQAAAI9AAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAHEIGVgCCcApQYgE2AiQDCAsGAAQgBYRtBy4bhgXIHpIkgUqEeQRBJyAAI4Jq2Xr25p6Qo6KQIeoQFRYUKIEC5SmPRziEyUb80Vrbxz1ORt4sYZa0ns7e+d4K1vCQvEPSkKgkCBFCI5K/R/hOZfk8l9O7q4ACmR8ox71ojUG9gHpxIAW6B7bJSijjhrELXMJ5Au2mTUudLG/ukA7JmhaIR88xSEfOLSWLtQqNmrUpXtVay3P5wkv4/fi3FR0UdcUqOH9YssnsV3ZC80nzxJ1P8BDQ5hoVNhFJXNeGTzULxmzWHm4xj+wrN/iq0fBNYq96wf46K7sTTELBPQndqQIUuK2BBhFjox5CDMqbkxH7+v7madx5Pp2kt4/XD6OnVzt918U+JB/ug9B8Pl+aSK03ZvHPylv5FAg++E3r3/lv7Ujw6WJbqEv9rLTuxBL8DGHPttTFlrGkKqztLgZPUtOuHU3Y3u93rGbozPHQamiEtcVUikqrRTIZm6h12EZDq32027CyucMAoVlkG9ZdAoRe7yi6vaPS65tMxg9qw/7Q0BvNaHcbA3t2WA6v61igodAG8xg8i8XUMauuKHcLnf3QEFlxyNpDIT0f5NLZYmwFYxRzLJAHTl4pClSwCJbBZRiGDBLBfLRU2lUqqWcytO5NaYtFpMsxARkUZAOmY8BjYWLU7610lT6/BTn2hQyipaXGvwcJkjc8yEnL9iBXFHGvlnu5RjrgyFMUClACEwHLYBQKhRiQ1I/yIYuS5o4IJuoydifaV5FeXxV93T5oZ2lL2KWVfGICCQEA') format('woff2'),
  url('iconfont.woff?t=1565917958796') format('woff'),
  url('iconfont.ttf?t=1565917958796') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
  url('iconfont.svg?t=1565917958796#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont-next {
  font-family: "iconfont" !important;
  font-size: 30px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-more:before {
  content: "\e6a7";
}

