.home{
  width: 100%;
  height: 300px;
  /* position: relative; */
  margin: 50px auto 0px;
}
.icon-icon{
  font-size: 80px;
}
.icon-svg{
  position: absolute;
  top: 150px;
  width: 200px;
  height: 100px;
  border: 1px solid #e5e5e5;
  border-radius: 8px;
  text-align: center;
  line-height: 100px;
  /* padding: 5px 60px; */
  /* 不可选中 */
  -webkit-user-select: none;  /* Chrome all / Safari all /opera15+*/ 
  -moz-user-select: none;     /* Firefox all */  
  -ms-user-select: none;      /* IE 10+ */ 
  user-select: none;          /* 通用 */
}
.icon-svg:hover{
  border-color: #888;
  cursor: pointer;
}
.icon-list{
  left: 461px;
}
.icon-aixin{
  left: 761px;
}
.icon-dianzan{
  left: 1061px;
}
.back{
  width: 100px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  padding: 0 11px;
  margin: 10px 5px;
  background: #e4e4e4;
  border: 1px skyblue solid;
  border-radius: 3px;
  color: #000;
  display: inline-block;
  text-decoration: none;
  font-size: 12px;
  outline: none;
}
.back:hover{
  border-color: #047aa1;
}
.failed{
  margin: 5px;
}
.nav{
  position: absolute;
  width: 50px;
  height: 25px;
  line-height: 25px;
  text-align: center;
  top: 20px;
  right: 50px;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
  /* 不可选中 */
  -webkit-user-select: none;  /* Chrome all / Safari all /opera15+*/ 
  -moz-user-select: none;     /* Firefox all */  
  -ms-user-select: none;      /* IE 10+ */ 
  user-select: none;          /* 通用 */
}
.down:hover, .menu:hover{
  cursor: pointer;
  background-color: #eee;
}

.down{
  width: 100%;
  height: 100%;
}
.logout{
  width: 100%;
  height: 100%;
}
.menu{
  position: absolute;
  left: -1px;
  width: 50px;
  height: 28px;
  font-size: 13px;
  border: 1px solid #c4c4c4;
  border-radius: 3px;
  box-shadow: 0px 3px 8px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.show{
  display: block !important;
  animation: showmenu 1s forwards;
}

@keyframes showmenu{
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
.home_header{
  display: flex;
  padding: 15px;
  background: #24292e;
}
.home_logo {
  width: 32px;
  height: 32px;
  /* background: url("../img/logo-02.png") no-repeat; */
  background-size: 80px;
  background-position: center;
  margin-right: 30px;
}
.home_nav{
  height: 30px;
  width: 1700px;
  line-height: 30px;
  margin-right: 30px;
}
a{
  text-decoration: none;
}
.home_logo{
  color: #fff;
}
.nav_a{
  font-weight: 600;
  margin-right: 30px;
  color: #fff;
}
.nav_a:hover{
  color: hsla(0,0%,100%,.7);
}
.octicon{
  display: inline-block;
  fill: currentColor;
  vertical-align:middle!important;
}
.home_logout{
  width: 60px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  font-weight: 600;
}
.home_logout:hover{
  cursor: pointer;
  color: hsla(0,0%,100%,.7);
}