*{
  box-sizing: border-box;
}
.logo{
  width: 100%;
  height: 50px;
  background: url("../img/logo-02.png") no-repeat;
  background-size: 80px;
  background-position: center;
  margin: 30px auto;
}
label{
  margin-bottom: 7px;
  font-size: 14px;
  font-weight: 600;
}
.main{
  display: flex;
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2b3137;
  height: 500px;
}
.content{
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.context{
  text-align: left;
  margin-right: 50px;
  margin-left: 20px;
  color: #fff;
  font-size: 32px;
}
.group{
  position: relative;
  width: 300px;
  height: 275px;
  background-color: #fff;
  padding: 20px;
  border: 1px solid #dfdfdf;
  border-radius: 5px;
  margin-right: 20px;
  margin-left: 20px;
}
#password,#username{
  width: 258px;
  height: 35px;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 12px;
  border: 1px solid #dfdfdf;
  border-radius: 4px;
}
.userpwd{
  display: block;
}
.usergroup{
  margin-bottom: 5px;
}

.login:hover{
  cursor: pointer;
  background-color: #269f42;
  background-image: linear-gradient(-180deg,#2fcb53,#269f42 90%);
  background-position: -7px;
}
.login{
  width: 100%;
  height: 32px;
  line-height: 32px;
  text-align: center;
  margin-top: 16px;
  background-color: #28a745;
  background-image: linear-gradient(-180deg,#34d058,#28a745 90%);
  border-radius: 4px;
  color: #fff;
}
.end{
  width: 700px;
  margin: 50px auto;
  text-align: center;
}
.end h2{
  font-size: 32px;
  font-weight: 400;
}